<footer class="footer bg-dark text-white">
    <div class="footer-content py-3">
        <div class="footer-section text-center">
            <div class="socials">
                <a href="https://github.com/omseervi098" target="_blank"> <i class="fab fa-github text-white"></i></a>
                <a href="https://www.instagram.com/omseervi_098/" target="_blank"><i
                        class="fab fa-instagram text-warning"></i></a>
                <a href="https://twitter.com/ompraka73085434" target="_blank"><i
                        class="fab fa-twitter text-info"></i></a>
                <a href="https://www.linkedin.com/in/omseervi098/" target="_blank"><i
                        class="fab fa-linkedin text-primary"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center p-2">
        &copy; <span class="text-warning">Node</span>Auth | Designed by <a href="https://www.omprakash.me/"
            class="text-info" target="_blank">Omprakash
            Choudhary</a>
    </div>

</footer>