<header id="mynavbar" class="topnav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand logo text-white" href="/">
                <i class="bi text-info bi-shield-lock-fill"></i>
                <span><span class="text-warning">Node</span>Auth</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class=" d-flex ms-auto gap-2 my-auto">
                    <% if(locals.user) {%>
                        <a href="/users/signout" class="btn btn-outline-light">
                            <i class="bi bi-box-arrow-right"></i>
                            Logout
                        </a>
                        <a class="btn btn-outline-light">
                            <i class="bi bi-person-lines-fill"></i>
                            <%=locals.user.username%>
                        </a>
                        <a class="btn btn-outline-light" href="/users/resetpass">
                            <i class="bi bi-key-fill"></i>
                            Reset Password
                        </a>
                        <% } else{ %>

                            <a class="btn btn-info" href="/users/login">
                                <i class="bi bi-person-fill"></i>
                                Sign In
                            </a>
                            <a class="btn btn-warning" href="/users/signup">

                                <i class="bi bi-person-plus-fill"></i>
                                Sign Up

                            </a>
                            <% } %>
                </form>
            </div>
        </div>
    </nav>
</header>