<div class="h-100">
    <% if(locals.user){ %>
        <h2 class="text-center">Welcome <%=locals.user.name%>
        </h2>
        <% } else{%>
            <h2 class="text-center">Welcome Guest</h2>
            <% } %>
</div>