<link rel="stylesheet" href="<%=assetPath('css/loginandsignup.css')%>">
<div class="outer-container bg-light">
    <div class="login-page h-100 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="bg-white shadow logincon">
                        <div class="row">

                            <div class="col-md-5 ps-0 d-none d-md-block">
                                <div class="form-right  px-2 h-100 bg-primary text-white text-center pt-5">
                                    <i class="bi bi-shield-lock-fill"></i>
                                    <h1 class="mt-4"><span class="text-warning">Node</span>Auth</h1>

                                </div>
                            </div>
                            <div class="col-md-7 pe-0">
                                <div class="form-left h-100 py-5 px-5">
                                    <form action="/users/forgot-password/updatepass?accessToken=<%=accessToken%>"
                                        method="post" class="row g-4" id="forgotpassform">
                                        <div class="col-12">
                                            <h1 class="text-center d-none showonsm">Reset Password</h1>
                                            <label for="newpassword1">Password<span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="bi bi-person-fill"></i>
                                                </div>
                                                <input type="password" class="form-control"
                                                    placeholder="Enter new Password" name="newpassword1"
                                                    id="newpassword1" required>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="confirmpass1">Confirm Password<span
                                                    class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="bi bi-person-fill"></i>
                                                </div>
                                                <input type="password" class="form-control"
                                                    placeholder="Confirm Password" name="confirmpass1" id="confirmpass1"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="col-12 login text-center">
                                            <button type="submit" class="btn btn-primary px-4 mb-2">
                                                <i class="bi bi-arrow-right-circle-fill"></i>
                                                &nbsp;Submit
                                            </button>
                                        </div>
                                    </form>
                                    <div class="col-12 text-center">
                                        <a href="/users/auth/google" class="p-0">
                                            <hr>
                                            <button class="btn btn-dark px-4 py-2 glogin mt-2 ">
                                                <i class="bi bi-box-arrow-in-right"></i>
                                                <span>&nbsp;Sign In</span>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>