a {
    text-decoration: none;
}

.outer-container {

    .login-page {
        width: 100%;
        height: auto;
        display: inline-block;
        display: flex;
        align-items: center;

        .logincon {
            border-radius: 20px;
            overflow: hidden;

            .form-right {
                .bi-shield-lock-fill {
                    font-size: 100px;
                }

                a {
                    button {
                        font-size: 20px;
                        border-radius: 20px;

                    }
                }
            }

            .form-left {
                form {
                    button {
                        font-size: 20px;

                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .showonsm {
        display: block !important;
    }

    .outer-container {

        .login-page {


            .form-left {
                form {

                    .signup {
                        button {
                            float: none !important;
                        }

                        text-align: center !important;
                    }

                }

                .glogin {
                    font-size: larger;
                }
            }
        }
    }
}